.Toolbar {
  width: 100%;
  height: 56px;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #703b09;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.Toolbar nav {
  height: 100%;
  text-align: center;
}
